#root {

}

.app {
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.flexbox {
  display: flex;
  height: 100%;
}

.section {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;*
}